# Ring OAuth CLI.
# Required on first run. Generate with: bunx ring-auth-cli
REFRESH_TOKEN=

# Storage
OUTPUT_DIRECTORY=
TOKEN_DIRECTORY=

# Recording.
SEGMENT_SECONDS=
CAMERA_POLLING_SECONDS=

# Logging.
# debug, info, warn, error
LOG_LEVEL=
# development, production, test
NODE_ENV=

# Filebrowser GUI.
FILEBROWSER_BIND=
FILEBROWSER_PORT=